<nav class="navbar navbar-default navbar-fixed-top" style="top: 36px; ">
    <a href="javascript:history.go(-1)" class="glyphicon glyphicon-circle-arrow-left"></a>
    <div id="navbar" class="navbar-collapse collapse">

        <img src="/images/01.jpg" alt="" class="img-responsive">
        <img src="/images/02.jpg" alt="" class="img-responsive">
        <img src="/images/03.jpg" alt="" class="img-responsive">
        <img src="/images/04.jpg" alt="" class="img-responsive">

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/center">
                    <span class='<%-center%>'></span>
                    <%= name%>
                </a>
            </li>
            <li>
                <a href="/login">
                    <%=login%>
                </a>
            </li>

            <li class="">
                <a href="/out">
                    <%=out%>
                </a>
            </li>
            <li class="">
                <a href="/register">
                    <%=register%>
                </a>
            </li>
            <li><a href="/" class="back"> go home</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
    </div>
</nav>